body {
	font-family: 'Ubuntu', sans-serif;
}
.container {
	width: 100%;
	max-width: 1140px;
	box-sizing: border-box;
	margin: 0 auto;
}
header {
	padding: 30px 0 25px;
	margin: 0 auto;
	border-bottom: 1px solid #da1b2f;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

}
.header__block {
	display: flex;
	align-items: center;
}
.header__block:first-child {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #da1b2f; 

}
.header__block__text a:last-child {
	color: #5a6464;
	font-size: 16px;
	display: block;
	text-decoration: none;
}
.header__block__text a:first-child {
	color: #cacbcd;
	font-size: 16px;
	display: block;
	text-decoration: none;
}
.header__content {
	display: flex;
}
.header__block__img{
	padding-right: 10px;
}
.header__block__sign {
	padding-right: 20px;
}
.btn {
	color: #ffffff;
	background-color: #e71d32;
	padding: 15px 20px;
	display: inline-flex;
	text-decoration: none;	
}
.btn img{
	padding-right: 13px;
}
.navigation {
	position: absolute;
	top: 102px;
	left: 0;
	width: 100%;
	z-index: 2;
}

.nav ul {
	padding-top: 20px;
	display: flex;
}
 .nav a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
    padding-right: 55px;
}
.intro {
	height: 980px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-image: url("../img/intro_bg.png");
	position: relative;
}
.intro__title {
	width: 100%;
	display: flex;
	align-items: center;
}
.intro__title h1 {
	font-size: 64px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 60px;
	text-align: center;
	color: #fff;
}
.intro__title p {
	font-size: 20px;
	font-weight: 700;
	padding-top: 40px;
	text-align: center;
	color: #fff;
}
.intro__title img {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.intro__container {
	position: absolute;
	bottom: -10px;
	width: 100%;
}
.intro__block {
	display: flex;
	background: rgba(42, 40, 42, 0.7);
	padding: 25px 22px 20px;
	align-items: center;
	border-bottom: 10px solid #e71d32;
}
.intro__block p {
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	padding-left: 35px;
}
.offer__title {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.offer__title::before {
	content: "";
	height: 1px;
	width: 100%;
	background-color: #119784;
	position: absolute;
	top: 115px;
}
.offer__title h2 {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 60px 40px 0;
	text-align: center;
	color: #3c4646;
	background-color: #fff;
}
.offer__title p {
	font-size: 20px;
	font-weight: 700;
	padding: 40px 35px;
	text-align: center;
	color: #aeaeae;
}
.offer__block p {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: #575757;
	text-align: center;
}
.offer__block img {
	padding-top: 40px;
	width: 255px;
	height: 180px;
}
.offer__more {
	padding: 70px;
	text-align: center;
}
.offer__more a {
	color: #e8182b;
	font-size: 20px;
	font-weight: 700;
}


















