body {
	font-family: 'Ubuntu', sans-serif;
}
.container {
	width: 100%;
	max-width: 1140px;
	box-sizing: border-box;
	margin: 0 auto;
}
header {
	padding: 30px 0 25px;
	background-color: black;
	margin: 0 auto;
	border-bottom: 1px solid #da1b2f;

}
.header__block {
	display: flex;
	align-items: center;
}
.header__block:first-child {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #da1b2f; 

}
.header__block__text a:last-child {
	color: #5a6464;
	font-size: 16px;
	display: block;
	text-decoration: none;
}
.header__block__text a:first-child {
	color: #cacbcd;
	font-size: 16px;
	display: block;
	text-decoration: none;
}
.header__content {
	display: flex;
}
.header__block__img{
	padding-right: 10px;
}
.header__block__sign {
	padding-right: 20px;
}
.btn {
	color: #ffffff;
	background-color: #e71d32;
	padding: 15px 20px;
	display: inline-flex;
	text-decoration: none;	
}
.btn img{
	padding-right: 13px;
}

<!-- -->
.navigation {
	background-color: #0f0f0f;
}

.nav ul {
	padding-top: 20px;
	display: flex;
}
 .nav a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
    padding-right: 55px;
}
.intro {
	height: 980px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	background-image: url("../img/intro_bg.png");
}





















